.wrapper {
  width: 100%;
  border-radius: 10px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  background-color: #eff8ff;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  color: blue;
}
